*.csv
*.pdf
*.aux
*.log
*.out
.DS_Store
unfinished.json
*.pygtex
*.pygstyle
*scratch*
/.venv/*
/build/*
!Adding-Semantic-Structure-to-PDFs.pdf
!examples-handout.pdf
repaginate.txt
.toc_cache.db
.tmp.json
